{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "htmlWhiteSpaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false
}