@import '_base';

:root {
    --nav-height: 0;
    --aside-width: 270px;
}

#uploadSection {
    height: 100vh;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    & > .btnBox {
        margin-top: 1rem;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;

        label[for="csvFile"] {
            width: 150px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid rgb(0, 104, 139);
            background-color: #fff;
            color: rgb(0, 104, 139);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            font-size: 1rem;
            &:hover { background-color: #407bff; color: #fff; }
            &:active { background-color: #2b5fce; color: #fff; }
        }

        #loadDefaultBtn {
            width: 150px;
            height: 50px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #407bff;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            &:hover { background-color: #588dff; }
            &:active { background-color: #2b5fce; }
        }
    }
    & >img {
        width: clamp(300px, 90%, 800px);
    }
}

nav {
    width: 100%;
    height: var(--nav-height);
    border-bottom: 0px solid #ccc;
    display: none;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: flex-end;
    button.menuBtn {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 4px;
        div {
            width: 25px;
            height: 3px;
            background-color: #333;
            border-radius: 2px;
            transition: all .3s;
        }
        &.open div:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
        &.open div:nth-child(2) { opacity: 0; }
        &.open div:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }
    }
}

main {
    height: 100vh;
    max-height: calc( 100vh - var(--nav-height) );
    width: 100%;
    display: flex;
    #chartsContainer {
        height: 100%;
        width: 100%;
        canvas { width: 100% !important; height: 100% !important; }
    }

    aside {
        max-width: var(--aside-width);
        width: 100%;
        height: 100%;
        border-left: 1px solid #ccc;
        overflow-y: auto !important;
        overflow: hidden;
        padding: 1rem;
        box-sizing: border-box;
        background-color: #fff;
        transition: right .3s;
        right: 0;
        ul {
            list-style: none;
            padding: 0;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            li {
                padding: 1rem;
                border: 2px solid #ccc;
                border-radius: 8px;
                cursor: pointer;
                user-select: none;
                background-color: #f5f5f5;
                display: flex;
                gap: 1.2rem;
                align-items: center;
                box-sizing: border-box;
                &:hover { background-color: #ccd9ff; }
                div {
                    i {
                        display: block;
                        width: 1.1rem;
                        height: 1.1rem;
                        border: 1px solid #777;
                        border-radius: 50%;
                        background: #fff;
                    }
                }
                h3 { color: #407bff; }
                p { color: #777; }
                &.active {
                    border: #407bff 2px solid;
                    h3 { color: #fff; }
                    background-color: #407bff;
                    div {
                        i {
                            border: 0;
                            background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M16.247 16.547c-18.429 18.63-18.329 48.777.3 67.206s48.777 18.329 67.206-.3 18.329-48.777-.3-67.206-48.777-18.329-67.206.3zm56.89 24.339-25.841 26.14c-2.204 2.204-5.81 2.204-8.013 0l-1.001-1-3.005-3.006-8.413-8.313c-2.204-2.203-2.204-5.809 0-8.012s5.809-2.204 8.012 0l8.413 8.313 21.835-22.035c2.203-2.203 5.809-2.203 8.012 0 2.204 2.104 2.204 5.71 0 7.913z" fill="rgb(255,255,255)"/></svg>');
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    :root { --nav-height: 60px; }
    nav { border-bottom: 1px solid #ccc; display: flex; }
    main {
        aside {
            position: fixed;
            top: var(--nav-height);
            right: calc( -1 * var(--aside-width) );
            height: calc( 100vh - var(--nav-height) );
            &.open { right: 0; }
        }
    }
}